<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse ">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/marvel-logo.png" alt="" class="logo">
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <form class="form-inline form-search">
        <div class="input-group">
        <input type="text" class="form-control input-search" placeholder="Search character...">
        <span class="input-group-btn">
          <button class="btn btn-secondary button-search" type="button">
            <img src="../../../assets/icons/search.png" alt="" class="img-search">
          </button>
        </span>
      </div>
      </form>
    </div>
  </div>
</nav>