<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse animated fadeIn fast">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="../../../assets/img/marvel-logo.png" alt="" class="logo">
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <form class="form-inline form-search">
        <div class="input-group">
        <input [(ngModel)]="_marvelService.heroe"
               (keyup)="buscarHeroe()"
               name="heroe" 
               type="text" 
               class="form-control input-search" 
               placeholder="Search character...">
        <span class="input-group-btn">
          <button (click)="buscarHeroe()" class="btn btn-secondary button-search" type="button">
            <img src="../../../assets/icons/search.png" alt="" class="img-search">
          </button>
        </span>
      </div>
      </form>
      <span *ngIf="_marvelService.location">
        <button (click)="agregarFavoritoAleatorio()"
              [disabled]="comicsData.length == 0" 
              [ngClass]="{'ocultar': _marvelService.location.path() !='/home' }"
              class="btn btn-danger btn-random"
              data-toggle="tooltip" data-placement="bottom" title="Random Comics">
        <i class="fa fa-random" aria-hidden="true"></i>
      </button>
      </span>
    </div>
  </div>
</nav>