<div class="caja-carga animated fadeIn fast" *ngIf="_marvelService.loader">
    <div class="logo-spin" style="background-image: url(./assets/img/marvel-logo-spin.png);">        
      </div>
  	<div class="loader"></div>
</div>

<section class="container-fluid animated fadeIn fast" *ngIf="_marvelService.heroes">
	<div class="row">
		<article class="col-sm-12 mt30">
			<div class="row">
				<article class="col-sm-6">
					<ul class="list-inline">
						<li class="list-inline-item">
							<img src="../../../assets/icons/characters.png" alt="">
						</li>
						<li class="list-inline-item">
							<h4>Characters</h4>
						</li>
					</ul>
				</article>
				<article class="col-sm-6">
					<select (change)="getHeroesPaginados()"
							class="form-control sort" 
							[(ngModel)]="_marvelService.orderBy">
						<option value="">Sort by</option>
						<option *ngFor="let sort of order" [value]="sort.name">{{sort.view}}</option>
					</select>

				</article>	
			</div>

			<div class="row">
				<article class="col-sm-6 mt30 animated fadeIn fast" *ngFor="let heroe of _marvelService.heroes">
					
					<div class="card">
					 	<div class="row">
					 		<article class="col-xs-6 col-sm-6">
		
								<div class="img-content">
								  	<img src="{{heroe?.thumbnail?.path + hashImg + '.jpg'}}" alt="" class="img-fluid img-circle img-shadow">
				  				</div>
					 		</article>
					 		<article class="col-xs-6 col-sm-6">
							<!-- 	<div class="card-block"> -->
									<div class="content-description">
										<h4 class="card-title text-uppercase">{{heroe.name}}</h4>
									    <p class="card-text text-muted" *ngIf="heroe.description">
									    	{{heroe.description | slice:0:140}} ...
									    </p>
									    <h5 class="text-muted" *ngIf="!heroe.description"> 
											Without description
											<br>
											<br>
											<br>
									    </h5>
									    <a [routerLink]="['/hero-detail', heroe.id]" class="btn btn-danger">VIEW MORE</a>
									</div>
 							<!-- 	</div>	 -->
					 		</article>
					 	</div>

					 	<div class="row">
					 		<article class="col-sm-12">
								<div class="comic-related">
									<h5 class="mb-2 text-muted related-title" *ngIf="heroe?.comics?.items != 0">Related comics</h5>
									<h5 class="mb-2 text-muted related-title" *ngIf="heroe?.comics?.items == 0">
										<div class="mb50">No related comics found</div>
									</h5>
								
									<div class="row">
										<article class="col-sm-6" *ngFor="let comic of heroe?.comics?.items | slice:0:4">
											<p class="text-muted">
												{{comic.name}}
											</p>
										</article>										
									</div>
								</div>
					 		</article>				 		
					 	</div>
					</div>
				</article>				
			</div>

			<!-- PAGINADOR -->
			<div class="content-paginate" *ngIf="_marvelService.heroes.length != 0">
		    
		        <div class="text-center">
		            <nav>
		            	<ul *ngIf="_marvelService.pager.pages && _marvelService.pager.pages.length" class="pagination">
			                <li [ngClass]="{disabled:_marvelService.pager.currentPage === 1}" class="page-item">
			                    <a (click)="setPage(1)" class="page-link pagination-limited">First</a>
			                </li>
			                <li [ngClass]="{disabled:_marvelService.pager.currentPage === 1}">
			                    <a (click)="setPage(_marvelService.pager.currentPage - 1)" class="page-link arrow-paginate">
			                    	<img src="../../../assets/icons/btn_arrow_left.png" alt="">
			                    </a>
			                </li>
			                <li *ngFor="let page of _marvelService.pager.pages"
			                	class="page-item" 
			                    [ngClass]="{active:_marvelService.pager.currentPage === page}">
			                    <a (click)="setPage(page)" class="page-link">{{page}}</a>
			                </li>
			                <li [ngClass]="{disabled:_marvelService.pager.currentPage === _marvelService.pager.totalPages}"
			                	class="page-item">
			                    <a (click)="setPage(_marvelService.pager.currentPage + 1)"
			                    	class="page-link arrow-paginate">
			                    	<img src="../../../assets/icons/btn_arrow_right.png" alt="">
			                    </a>
			                </li>
			                <li [ngClass]="{disabled:_marvelService.pager.currentPage === _marvelService.pager.totalPages}"
			                	class="page-item">
			                    <a (click)="setPage(_marvelService.pager.totalPages)"
			                    	class="page-link pagination-limited">Last</a>
			                </li>
		           		</ul>
		            </nav>
			    </div>
			    
			</div>

		</article>

		<!-- Sidebar -->
<!-- 		<article class="col-sm-3">
			

		</article> -->
	</div>
</section>