<section class="container-fluid">
	<div class="row">
		<article class="col-sm-9 mt30">
			<div class="row">
				<article class="col-sm-6">
					<ul class="list-inline">
						<li class="list-inline-item">
							<img src="../../../assets/icons/characters.png" alt="">
						</li>
						<li class="list-inline-item">
							<h4>Characters</h4>
						</li>
					</ul>
				</article>
				<article class="col-sm-6">
					<select name="" id="" class="form-control sort">
						<option value="">Sort by</option>
					</select>

				</article>	
			</div>

			<div class="row">
				<article class="col-sm-6 mt30" *ngFor="let heroe of heroes">
					
					<div class="card">
					 	<div class="row">
					 		<article class="col-xs-6 col-sm-6">
		
								<div class="img-content">
								  	<img [src]="heroe.thumbnail.path + hashImg + '.jpg'" alt="" class="img-fluid img-circle img-shadow">
				  				</div>
					 		</article>
					 		<article class="col-xs-6 col-sm-6">
							<!-- 	<div class="card-block"> -->
									<div class="content-description">
										<h4 class="card-title text-uppercase">{{heroe.name}}</h4>
									    <p class="card-text text-muted" *ngIf="heroe.description">
									    	{{heroe.description}}
									    </p>
									    <h5 class="text-muted" *ngIf="!heroe.description"> 
											Without description
											<br>
											<br>
											<br>
									    </h5>
									    <a href="#" class="btn btn-danger">VIEW MORE</a>
									</div>
 							<!-- 	</div>	 -->
					 		</article>
					 	</div>

					 	<div class="row">
					 		<article class="col-sm-12">
								<div class="comic-related">
									<h5 class="mb-2 text-muted related-title" *ngIf="heroe.comics.items != 0">Related comics</h5>
									<h5 class="mb-2 text-muted related-title" *ngIf="heroe.comics.items == 0">
										No related comics found
									</h5>
								
									<div class="row">
										<article class="col-sm-6" *ngFor="let comic of heroe.comics.items">
											<p class="text-muted">
												<a href="" class="text-muted">{{comic.name}}</a>
											</p>
										</article>										
									</div>
								</div>
					 		</article>				 		
					 	</div>
					</div>
				</article>				
			</div>

		</article>

		<!-- Sidebar -->
		<article class="col-sm-3">
			<div class="content-favourites">
				<div class="box-favo">
					<ul class="list-inline">
						<li class="list-inline-item">
							<img src="../../../assets/icons/favourites.png" alt="">
						</li>
						<li class="list-inline-item">
							<h4>My Favourites</h4>
						</li>
					</ul>
				</div>
				
				<div class="favorite-comic mt50" >
					<div class="img-favorite" style="background-image: url(http://placehold.it/250x400);">
						<button class="trash-favorite">
							<img src="../../../assets/icons/btn-delete.png" alt="">
						</button>
					</div>							
				</div>

				<div class="favorite-comic mt50" >
					<div class="img-favorite" style="background-image: url(http://placehold.it/250x400);">
						<button class="trash-favorite">
							<img src="../../../assets/icons/btn-delete.png" alt="">
						</button>
					</div>					
				</div>
			</div>

		</article>
	</div>
</section>