<app-navbar></app-navbar>

<section class="container-fluid">
	<div class="row">
		<article class="col-sm-9">
			<router-outlet></router-outlet>
		</article>
		
		<article class="col-sm-3">
			<div class="content-favourites">
				<div class="box-favo">
					<ul class="list-inline">
						<li class="list-inline-item">
							<img src="../../../assets/icons/favourites.png" alt="">
						</li>
						<li class="list-inline-item">
							<h4>My Favourites</h4>
						</li>
					</ul>
				</div>
				
				<div class="favorite-comic mt50" >
					<div class="img-favorite" style="background-image: url(http://placehold.it/250x400);">
						<button class="trash-favorite">
							<img src="../../../assets/icons/btn-delete.png" alt="">
						</button>
					</div>							
				</div>

				<div class="favorite-comic mt50" >
					<div class="img-favorite" style="background-image: url(http://placehold.it/250x400);">
						<button class="trash-favorite">
							<img src="../../../assets/icons/btn-delete.png" alt="">
						</button>
					</div>					
				</div>
			</div>
		</article>

	</div>
</section>




<app-footer></app-footer>