@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');
/*font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;*/
body{
	font-family: 'PT Sans', sans-serif;
	background-color: #f4f4f4;
}

h4 {
	font-weight: bold;
}


.btn{
	border-radius: 0;
}

.mt10{
	margin-top: 10px;
}

.mt30{
	margin-top: 30px;
}

.mt50{
	margin-top: 50px;
}

.mb50{
	margin-bottom: 50px;
}

.bold{
	font-weight: bold;
}


/*Navbar*/
.logo{
	height: 40px;
	width: auto;
}

.img-search{
	height: 25px;
	width: auto;
}

.form-search{
	width: 50%;
	margin: 0 auto;
	display: block;
}

.button-search{
	padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 0;
    border-left: none;
}

.button-search:hover, .button-search:focus{
	background-color: white;
	border-color: transparent;
	box-shadow: none;
}

.input-search{
	border-radius: 0;
	background-clip: border-box;
	color: #95a5a6!important;
}

.input-search:hover{
	box-shadow: none;
	border-color: transparent;
	/*border: none;*/
	border-right: none;
}

.input-search:focus{
    color: #464a4c;
	background-color: #fff;
	border-color: #F11E22;
	border-right: none;
}

.input-search:focus ~ .input-group-btn > .button-search{ 
	border-color: #F11E22;
}

input::-webkit-input-placeholder { 
 color: #ccc !important;
}
input:-ms-input-placeholder { 
  color: #ccc !important;
}
input::-moz-placeholder { 
  color: #ccc !important;

}
input:-moz-placeholder {
  color: #ccc !important;

}

/*Home*/
.sort{
	width: 60%;
    float: right;
    border-radius: 0;
    height: 45px!important;
}

select{
	background:  no-repeat right #ddd;
	background-image: url(assets/icons/btn_arrow_down.png)!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position-x: 244px;
}


.sort:focus{
	border-color: #F11E22;
}

.content-favourites{
	background-color: #ebebeb;
	min-height: 100vh;
	box-sizing: border-box;
    padding-bottom: 20px;
}

.box-favo{
	position: relative;
	top: 30px;
	padding: 0 20px;
    box-sizing: border-box;
}

.img-circle{
	border-radius: 50%;
}

.img-content{
	position: relative;
	top: -15px;
    left: -12px;
}

.content-description{
	min-height: 200px;
}

.img-shadow{
	box-shadow: 10px 10px 15px #ccc;
}

.related-title{
/*	position: absolute;
    top: -35px;*/
    font-weight: bold;
}

.card-title{
	top: -15px;
    position: relative;
}

.card-text{
	padding: 0 5px;
	font-size: 15px;
    margin-top: -25px;
}

.comic-related{
	padding: 0 16px;
/*	min-height: 100px;
    overflow-y: overlay;
    max-height: 100px;*/
}

/*sidebar*/
.favorite-comic {
	position: relative;
}

.img-favorite{
	display: block;
	margin: 0 auto;
	width: 70%;
	height: 340px;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.trash-favorite{
    position: absolute;
    top: -15px;
    right: -15px;
    background: transparent;
    border: none;
}


/*Paginador*/
.content-paginate{
	width: 80%;
    margin: 30px auto;
}

.page-link{
	position: relative;
  display: block;
  padding: 15px 10px;
  margin-left: 8px;
  line-height: 1.25;
  color: #0275d8;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #ddd;
  color: #7f8c8d!important;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}

.page-item.active .page-link{
	border: none;
    box-shadow: none;
    color: #3d3332!important;
    background-color: #fcfcfc;
}

.arrow-paginate{
	padding: 14px 12px;
}

.arrow-paginate:hover {
	background-color: white;
}

.pagination-limited{
	width: 70px;
}

/*Modal*/

.modal-open .container-fluid .card, .modal-open .container-fluid .content-favourites, .modal-open .container {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.close-modal {
  top: 0px;
  right: 0;
  background: transparent;
  border: none;
}

.modal-header{
	border: none;
}

.modal-content{
	border-radius: 0;
}

.modal-footer{
	padding: 0; 
	border-top:none;
}

.btn-modal{
	width: 50%;
	margin:0!important;
	padding: 20px 0px;
}

.btn-add{
	background-color: #f0f0f0;
}

.btn.buy{
	background-color: #dcdcdc;
	border:none;
}

.btn-added{
	background-color: #2d2727;
	border:none;
}

.btn-added:hover{
	background-color: #2d2727;
	border:none;
}

.btn-random{
  border-radius: 50%;
  height: 38px;
  width: 38px;
  padding: 0;
}

.btn-danger:focus{
  color: white;
}

.ocultar{
	display: none;
}

button:focus, button:active{
	outline: none;
}
    

/*Footer*/
.footer-bg{
	background-color: #2d2727;
  padding: 10px 0;
}

/*Loader*/
.loader {
  border: 16px solid #2d2727; 
  border-top: 16px solid #F11E22;
  border-radius: 50%;
  width: 150px;
	height: 150px;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
}


.caja-carga{
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  position: absolute;
  top:35vh;
  width: 152px
}

.logo-loader {
  position: absolute;
  left: 31px;
  top: 55px;
  width: 90px;
}

.logo-spin{
  position: absolute;
  left: 31px;
  top: 55px;
  width: 90px;
  height: 41px;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-moz-scrollbar {
  width: 10px;
  height: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #2d2727;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; 
  background-color: rgba(45, 39, 39, 0.8);
}


/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  background: #f11e22;
  -webkit-box-shadow: inset 0 0 4px rgba(45, 39, 39, 0.8); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #b2b5b9; }

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}